{{>partials/header}}

<h2>Qual ano você nasceu?</h2>
<form method="GET">
    <input type="text" name="ano" placeholder="Digite o ano de Nascimento" /><br/>
    <input type="submit" value="Enviar" />
</form>

{{#mostrarIdade}}
    <hr/>
    Você tem {{idade}} anos.
{{/mostrarIdade}}

{{>partials/footer}}