{{>partials/header}}

<h2>Qual é o seu nome?</h2>
<form method="GET">
    <input type="text" name="nome" placeholder="Digite seu nome" /><br/>
    <input type="text" name="idade" placeholder="Digite a sua idade" /><br/>
    <input type="submit" value="Enviar" />
</form>

{{#nome}}
    <hr/>
    Opa {{nome}}, tudo bem? Você tem {{idade}} anos!
{{/nome}}

{{>partials/footer}}